.product-section{
    .row{
        margin: 0;
        padding: 0;
    }
    .product-section-image {
        img{
            padding: 30px auto;
            width: auto;
            height: 200px;
            opacity: 0;
            transition: opacity .10s ease-in-out;
        }
        img.active{
            opacity: 1;
        }
    }
}
.product-section-images{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    .selected{
        border: 1px solid #979797 !important;
    }
}
.product-section-thumbnail{
    &:hover{
        border: 1px solid #979797 !important;
    }
}

.product-section-information {
    p {
        margin-bottom: 16px;
    }
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

