
.product-section-image {
    padding: 30px;
}

.product-section-information {
    p {
        margin-bottom: 16px;
    }
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

