.sidebar{
    li.active{
    font-weight: bold;
    color: black;
    }
    a:hover{
        font-weight: bold;
    }
}
.products .product{
    img{
        width: auto !important;
        height: 20vh !important;
    }
}
